.adv {
  max-width: 1176px;
  padding: 112px 10px 40px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.adv__item {
  position: relative;
  left: 3px;
  max-width: 49%;
  min-height: 299px;
  background: $white;
  outline: 1px solid #ebebeb;
  border-left: 3px solid $blue;
  padding: 40px 47px 68px 43px;
  margin-bottom: 30px;
  box-sizing: border-box;
}

.adv__item svg {
  margin-block-start: 0;
  margin-block-end: 12px;
}

.adv__item h3 {
  @include fonts(400, 24px, 140.6%);
  margin-block-start: 0;
  margin-block-end: 19px;
  color: $blue;
}

.adv__item p {
  margin-block-start: 0;
  margin-block-end: 0;
  font-family: "PT Mono", "Arial", sans-serif;
  font-size: 16px;
  line-height: 134.4%;
  color: $dark-gray;
}

.adv__item:hover,
.adv__item:hover h3,
.adv__item:hover p {
  background-color: $blue;
  color: $white;
}

.adv__item:hover path {
  fill: $white;
}

@media (max-width: $tablet) {
  .adv {
    @include inner(1023px, 25px);
    padding-top: 54px;
    padding-bottom: 13px;
    padding-right: 25px;
    max-width: 100%;
  }

  .adv__item {
    max-width: 48%;
    min-height: 232px;
    padding: 24px 20px 24px 22px;
    margin-bottom: 31px;
    box-sizing: border-box;
  }

  .adv__item svg {
    margin-block-start: 0;
    margin-block-end: 2px;
  }

  .adv__item h3 {
    margin-block-end: 10px;
  }
}

@media (max-width: $mobile) {
  .adv {
    @include inner(767px, 15px);
    padding-top: 38px;
    padding-bottom: 20px;
    justify-content: space-around;
  }

  .adv__item {
    min-width: 99%;
    margin-bottom: 23px;
    padding-bottom: 29px;
    min-height: 150px;
    padding-right: 22px;
    padding-left: 22px;

    &:nth-of-type(2) {
      padding-right: 12px;
    }
  }

  .adv__item svg {
    margin-block-start: 0;
    margin-block-end: 5px;
  }

  .adv__item h3 {
    max-width: 234px;
    font-size: 20px;
    margin-block-end: 11px;
  }
}
