.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  min-height: 317px;
}

.footer__about {
  margin: 0 auto;
  max-width: 1412px;
  padding: 65px 0 58px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer__about-main {
  max-width: 220px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.footer__logo {
  @include link($white);
  display: flex;
  margin-bottom: 45px;
  width: 218px;
}

.footer__logo-text {
  margin-top: 4px;
  margin-left: 17px;
  display: flex;
  flex-direction: column;
}

.footer__logo-text-big {
  @include fonts(700, 25px, 29px);
  color: $black;
}

.footer__logo-text-small {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 12px;
  line-height: 14px;
  color: $gray;
  text-transform: lowercase;
}

.footer__social a {
  @include link($white);
}

.footer__social_fb,
.footer__social_ok {
  padding-right: 8px;
}

.footer__about-site {
  margin-right: 20px;
}

.footer__about-site p,
.footer__about-contacts p {
  @include fonts(400, 15px, 16px);
  letter-spacing: 0.05em;
  color: $gray-black;
  text-transform: uppercase;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-bottom: 24px;
}

.footer__items {
  display: flex;
  flex-wrap: wrap;
}

.footer__items ul {
  list-style: none;
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  font-family: "PT Mono", "Arial", sans-serif;
  font-size: 15px;
  line-height: 25px;
  color: $gray-black;
  opacity: 0.5;

  &:not(:first-child) {
    padding-left: 75px;
  }
}

.footer__items a {
  @include link($gray-black);
}

.footer__about-contacts {
  width: 333px;
}

.footer__contact p {
  margin: 0;
  font-family: "PT Mono", "Arial", sans-serif;
  font-size: 15px;
  line-height: 25px;
  color: $gray-black;
  opacity: 0.5;
  letter-spacing: normal;
  text-transform: none;
}

.footer__copyright {
  margin: 0 auto;
  max-width: 1410px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-family: "PT Mono", "Arial", sans-serif;
  color: $gray-black;
  opacity: 0.5;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 0.04em;
  padding-top: 13px;
  padding-bottom: 13px;
}

.copyright-container {
  width: 33%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.copyright-container p {
  margin-top: 0;
  margin-block-end: 0;
  margin-right: 8px;
}

.footer__copyright-conf {
  @include link($gray-black);
  margin-top: 0;
  width: 34%;
  text-align: left;
  display: block;
}

.footer__copyright p {
  margin-block-end: 0;
  margin-top: 0;
}

@media (max-width: $tablet) {
  .footer__about {
    padding-top: 20px;
    padding-bottom: 36px;
    justify-content: flex-start;
  }

  .footer__about-main {
    max-width: 1023px;
    width: 100%;
    padding-left: 25px;
    padding-right: 25px;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 16px;
  }

  .footer__about-main .copyright-container {
    &:first-child {
      display: none;
    }
  }

  .footer__social {
    padding-top: 10px;
    order: 3;
  }

  .footer__logo {
    margin-bottom: 0;
    order: 1;
    margin-right: 12px;
  }

  .footer__about-site {
    padding-left: 25px;
    padding-top: 35px;
    width: 48%;
    margin-right: 7px;
  }

  .footer__items {
    flex-direction: column;
  }

  .footer__items ul {
    &:not(:first-child) {
      padding-left: 0;
    }
  }

  .footer__about-contacts {
    padding-right: 25px;
    padding-top: 35px;
  }

  .footer__copyright {
    @include inner(1023px, 25px);
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .footer__copyright .copyright-container {
    display: none;
  }
}

@media (max-width: $mobile) {
  .footer__about {
    padding-top: 50px;
    justify-content: space-between;
    flex-direction: column;
    padding-bottom: 0;
  }

  .footer__about-main {
    max-width: 767px;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 44px;
  }

  .footer__logo {
    margin-bottom: 0;
    margin-right: 0;
  }

  .footer__social {
    padding-top: 32px;
    order: 3;
  }

  .footer__about-site {
    padding-top: 29px;
    width: 86%;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: 0;
  }

  .accordeon {
    cursor: pointer;
    position: relative;
  }

  .accordeon__items {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
  }

  .footer__items {
    display: block;
  }

  .footer__items ul:last-child {
    padding-bottom: 26px;
  }

  .footer__about-contacts {
    width: 86%;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 29px;
    padding-bottom: 0;
  }

  .footer__about-contacts p {
    margin-bottom: 32px;
  }

  .footer__contact p {
    margin-bottom: 0;

    &:last-child {
      padding-bottom: 26px;
    }
  }

  .footer__contact {
    padding-right: 73px;
  }

  .accordeon::after {
    content: "\002B";
    color: #c4c4c4;
    font-size: 32px;
    float: right;
    position: absolute;
    top: 26px;
    right: 0;
  }

  .active::after {
    content: "\2212";
  }

  .footer__copyright {
    @include inner(767px, 15px);
    padding-top: 25px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 30px;
  }

  .footer__copyright-conf {
    width: 217px;
    padding-bottom: 20px;
  }

  .copyright-container p {
    margin-block-start: 0;
  }
}
