.main-nav {
  display: flex;
  // width: 50%;
  justify-content: flex-end;
  align-items: center;
}

.main-nav__email {
  font-size: 16px;
  line-height: 18px;
  color: $white;
  // width: 33%;
  display: flex;
  justify-content: center;
}

.main-nav__email-text {
  padding-left: 17px;
}

.main-nav__phone {
  // width: 33%;
  font-size: 16px;
  line-height: 18px;
  color: $white;
  display: flex;
  justify-content: center;
  padding-left: 88px;
}

.main-nav__phone-text {
  padding-left: 17px;
}

.main-nav__button {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  padding-left: 49px;
  // width: 33%;
}

.white-button {
  @include fonts(700, 14px, 15px);
  @include link($white);
  background-color: transparent;
  border: 1px solid $white;
  padding: 14px 27px;
}
