.main-nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.main-nav__email {
  @include link($white);
  position: relative;
  font-size: 16px;
  line-height: 18px;
  color: $white;
  padding-left: 36px;

  &::before {
    content: "";
    display: block;
    width: 19px;
    height: 14px;
    position: absolute;
    background: url("../img/env.png") no-repeat;
    background-size: cover;
    left: 0;
    top: 2px;
  }

  &:hover {
    color: $blue;
  }
}

.main-nav__phone {
  @include link($white);
  position: relative;
  font-size: 16px;
  line-height: 18px;
  color: $white;
  padding-left: 35px;
  margin-left: 90px;

  &::before {
    content: "";
    display: block;
    width: 18px;
    height: 18px;
    position: absolute;
    background: url("../img/phone.png") no-repeat;
    background-size: 100%;
    left: 0;
  }

  &:hover {
    color: $blue;
  }
}

.main-nav__button {
  @include fonts(700, 14px, 15px);
  @include link($white);
  background-color: transparent;
  border: 1px solid $white;
  letter-spacing: 0.05em;
  padding: 14px 26px;
  margin-left: 44px;

  &:hover {
    background-color: $blue;
  }
}

@media (max-width: $tablet) {
  .main-nav {
    padding-left: 0;
  }

  .main-nav__button {
    display: none;
  }

  .main-nav__email {
    font-size: 0;

    &::before {
      @include link($white);
      width: 25px;
      height: 19px;
      top: -2px;
      left: 30px;
    }
  }

  .main-nav__phone {
    font-size: 0;
    left: 10px;
    top: -5px;
    margin-left: 43px;

    &::before {
      @include link($white);
      width: 24px;
      height: 24px;
    }
  }
}

@media (max-width: $mobile) {
  .main-nav__email {
    font-size: 0;

    &::before {
      @include link($white);
      width: 25px;
      height: 19px;
      top: -3px;
      left: 40px;
    }
  }

  .main-nav__phone::before {
    width: 23px;
    height: 23px;
  }
}
