.page-body {
  min-width: 320px;

  font-family: "PT Mono", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  font-display: swap;
  color: #000000;
  margin: 0;
  padding: 0;

  background-color: $white;
}

.scroll-hidden {
  overflow: hidden;
}
