.page-header {
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
  background-color: transparent;
  max-width: 1410px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
  padding-top: 33px;
  z-index: 2;
  padding-bottom: 33px;
}

.page-header__logo {
  @include link($white);
  display: flex;
}

.page-header__logo-text {
  margin-top: 7px;
  margin-left: 19px;
  display: flex;
  flex-direction: column;
}

.page-header__logo-text-big {
  @include fonts(700, 25px, 29px);
  color: $white;
}

.page-header__logo-text-small {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 12px;
  line-height: 14px;
  color: $gray;
  text-transform: lowercase;
}

.page-header__burger {
  display: none;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;

  .burger-line {
    width: 37px;
    height: 1px;
    background-color: $white;
    display: block;


    &:last-child {
      margin-top: 11px;
    }
  }
}

@media (max-width: $tablet) {
  .page-header {
    @include inner(1023px, 25px);
    padding-top: 20px;
  }

  .page-header__logo-text {
    margin-top: 6px;
    margin-left: 17px;
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: $mobile) {
  .page-header {
    @include inner(767px, 15px);
    padding-top: 18px;
    padding-bottom: 17px;
  }

  .page-header__logo img {
    width: 38px;
    height: 38px;
  }

  .page-header__logo-text {
    display: none;
  }
}
