.page-header {
  position: relative;
  background-color: transparent;
  max-width: 1410px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
  padding-top: 33px;
  z-index: 2;
}

.page-header__logo {
  display: flex;
  width: 20%;
}

.page-header__logo-text {
  margin-top: 4px;
  margin-left: 16px;
  display: flex;
  flex-direction: column;
}

.page-header__logo-text-big {
  @include fonts(700, 25px, 29px);
  color: $white;
}

.page-header__logo-text-small {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 12px;
  line-height: 14px;
  color: $gray;
  text-transform: lowercase;
}

.page-header__burger {
  width: 10%;
}

@media (max-width: $tablet) {
  .page-header {
    @include inner(1023px, 25px);
    padding-top: 20px;
  }
}
