.start {
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;
  max-width: 1410px;
  padding-top: 196px;
  padding-bottom: 262px;
}

.start__text {
  width: 80%;
  color: $white;
}

.start__text h1 {
  @include fonts(700, 80px, 94px);
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 0.07em;
  margin-bottom: 27px;
}

.start__text p {
  margin: 0;
  position: relative;
  font-family: "PT Mono", "Arial", sans-serif;
  font-size: 22px;
  line-height: 156.8%;
  text-transform: lowercase;
  padding-left: 97px;
  max-width: 613px;
  margin-bottom: 43px;

  &::before {
    content: "";
    display: block;
    width: 66px;
    height: 2px;
    position: absolute;
    background: url("../img/line.png") no-repeat;
    left: 0;
    top: 16px;
  }
}

.start__text-button-container {
  padding-left: 96px;
  display: flex;
  flex-wrap: wrap;
}

.start__text-button {
  @include fonts(700, 16px, 19px);
  @include link($white);
  background-color: $blue;
  border: none;
  padding: 18px 45px;
  letter-spacing: 0.05em;

  &:hover {
    background-color: $white;
    color: $blue;
  }
}

.start__scroll {
  @include link($white);
  display: block;
  font-family: "PT Mono", "Arial", sans-serif;
  font-size: 14px;
  line-height: 15px;
  opacity: 0.5;
  width: 93px;
  top: 132px;
  left: -37px;
  color: $white;
  position: relative;
  transform: rotate(-90deg);

  &:hover {
    color: $blue;
    opacity: 0.7;
  }
}

@media (max-width: $tablet) {
  .start {
    @include inner(1023px, 25px);
    padding-top: 116px;
    padding-bottom: 163px;
  }

  .start__text {
    width: 60%;
    padding-left: 66px;
  }

  .start__text h1 {
    @include fonts(700, 60px, 70px);
    margin-bottom: 29px;
  }

  .start__text p {
    font-size: 18px;
    padding-left: 48px;
    margin-bottom: 55px;

    &::before {
      width: 33px;
      top: 15px;
    }
  }

  .start__text-button-container {
    padding-left: 48px;
  }

  .start__text-button {
    @include fonts(700, 16px, 19px);
    @include link($white);
    background-color: $blue;
    border: none;
    padding: 18px 31px;
    letter-spacing: 0.05em;
  }

  .start__scroll {
    display: none;
  }
}

@media (max-width: $mobile) {
  .start {
    @include inner(767px, 15px);
    padding-top: 214px;
    padding-bottom: 70px;
  }

  .start__text {
    width: 100%;
    padding-left: 0;
  }

  .start__text h1 {
    @include fonts(700, 40px, 47px);
    margin-bottom: 27px;
    min-width: 220px;
  }

  .start__text p {
    font-size: 16px;
    padding-left: 50px;
    min-width: 245px;
    margin-bottom: 41px;

    &::before {
      left: 2px;
      top: 13px;
    }
  }

  .start__text-button-container {
    justify-content: center;
    padding-left: 0;
  }

  .start__text-button {
    padding: 18px 32px;
  }
}
