.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

hr {
  color: #626962;
  height: 1px;
  margin: 0;
}

.pic-container {
  background: $dark-gray url("../../img/bg-main.png") no-repeat center;
  background-size: cover;
  width: 100%;
  min-height: 878px;
  z-index: -1;
}

.main-pic-container {
  background: $white url("../../img/bg-white.png") no-repeat center;
  background-size: cover;
  width: 100%;
  // min-height: 878px;
  // z-index: -1;
}

.button {
  text-transform: uppercase;
  border-radius: 5px;
  text-align: center;
}

@media (max-width: $tablet) {
  .pic-container {
    background: $dark-gray url("../../img/bg-main-tablet.png") no-repeat center;
    background-size: cover;
    min-height: 520px;
  }
}

@media (max-width: $mobile) {
  .pic-container {
    background: $dark-gray url("../../img/bg-main-mobile.png") no-repeat center;
    background-size: cover;
    min-height: 647px;
  }
}
